@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}

.Normal{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Styled{
  font-family: "Aref Ruqaa", serif;
  font-style: normal;
}